@{
    ViewBag.Title = "Contact";
}

<section class="contact-me-section section-padding" id="contact">
    <div class="container">
        <!-- Contact Us Section Title -->
        <h2 class="section-title contact-title text-center" style="color:black;">Contact Me</h2>
        <div class="row">
            <div class="col-sm-4">
                <p class="sub-title contact-subtitle text-center" style="text-shadow: 2px 2px 8px #FF5959">Whether you're looking to hire, need a little freelance work, or just need some digital consulting, I can help.  Send me your info and I'll get back to you at my earliest convienience.</p>
                <img class="img-responsive" style="margin: 0 auto; max-width:280px;" src="~/img/NewbyUploads/hotline.gif" />
                <p class="sub-title contact-subtitle text-center" style="text-shadow: 2px 2px 8px #FF5959">(336) 207-4090</p>
            </div>
        <div class="col-md-8 contact-form-section">
                        @*<form method="POST" action="" id="contactForm" name="contact-form" role="form" novalidate>*@

                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                                {
            @**@@Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <!-- Name Field -->
                                <div class="form-group contact-form-icon">
                                    <label class="sr-only">Name</label>
                                    <i class="fa fa-user"></i>
                                    <input type="text" placeholder="Name" id="name" class="form-control" name="name" required>
                                </div>
                                <!-- Email Field -->
                                <div class="form-group contact-form-icon">
                                    <label for="email" class="sr-only">Email</label>
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" placeholder="Email" id="email" class="form-control" name="email" required>
                                </div>
                                <!-- Subject Field -->
                                <div class="form-group contact-form-icon">
                                    <label for="subject" class="sr-only">Subject</label>
                                    <i class="fa fa-pencil"></i>
                                    <input type="text" placeholder="Subject" id="subject" class="form-control" name="subject" required>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-8">
                                <div class="form-group contact-form-icon">
                                    <label for="message" class="sr-only">Message</label>
                                    <i class="fa fa-keyboard-o"></i>
                                    <textarea placeholder="Message" rows="7" id="message" class="form-control" name="emailMessage" required></textarea>
                                </div>
                            </div>
                            <div class="col-sm-5 col-md-4 text-center contact-button-padding">
                                <button class="btn-primary btn-contact btn-block" name="submit" type="submit"><i class="fa fa-paper-plane"></i> Send</button>
                                <div class="success">@ViewBag.Message</div>
                            </div>
                        </div>

                        }

@*</form>*@

                    </div>
                </div>
            </div>
  
</section>